/*глобальные стили*/
body{
 font-family: "Roboto", Arial, sans-serif;
 margin: 0;
 padding: 0;
}

main{
 position: relative;
}

a{
 text-decoration: none;
}

.visually-hidden{
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}

.main-menu,
.sub-menu,
.advantages-list, 
.filter-list{
 list-style-type: none;
 margin: 0;
 padding: 0;
}

/*сетка*/
.container{
 background-color: rgb(132, 157, 143);
 box-sizing: border-box;
 color: rgb(255, 255, 255);
 display: flex;
 flex-direction: column;
 padding-left: 27px;
 padding-right: 27px;
 width: 1200px;
}

.main-header,
.slider,
.banners,
.products,
.advantages,
.row,
.breadcrumbs,
.filters,
.paginator,
.main-footer{
 flex-basis: 100%;
}

.paginator{
 background-color: red;
}

.wrap-field,
.sub-menu{
 display: none;
}

/*header*/
.main-header{
 display: flex;
 position: relative;
 width: 100%;
}

.logo{
 margin-top: 9px;
}

.main-menu{
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 margin-left: 9px;
 margin-top: 29px;
 width: 700px;
}

.actions{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-bottom: 10px;
 margin-left: 22px;
 margin-top: 28px;
 width: 261px;
}

.contact-information{
 top: 72px;
 right: 0px;
 position: absolute;
 z-index: 1;
}

/*основная навигация*/
.main-menu-link,
.main-menu-link-current{
 border-bottom-left-radius: 10% 50%;
 border-bottom-right-radius: 10% 50%;
 border-top-left-radius: 10% 50%;
 border-top-right-radius: 10% 50%;
 color: rgb(255, 255, 255);
 font-size: 16px;
 font-weight: 700;
 line-height: 18px;
 padding: 7px 14px;
}

.main-menu-link-current{
 background-color: rgb(255, 77, 50);
 border-bottom-left-radius: 20% 50%;
 border-bottom-right-radius: 20% 50%;
 border-top-left-radius: 20% 50%;
 border-top-right-radius: 20% 50%;
 padding-top: 5px;	
}

.main-menu-link:hover{
 background-color: rgb(247, 246, 243);
 color: rgb(50, 50, 50);
}

.main-menu-link:active{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50);
 outline: none;
}

/*выпадающее подменю*/
.sub-menu-item{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50);
}

.sub-menu-link{
 color: rgb(50, 50, 50);
 display: block;
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
}

.sub-menu-link:hover{
 background-color: rgb(251, 222, 215);
}

.sub-menu-link:active{
 background-color: rgb(246, 181, 165);
 outline: none;
}

.sub-menu-link-current{
 background-color: rgb(208, 112, 88);
 color: rgb(255, 255, 255);
 display: block;
}

.sub-menu-item:first-child .sub-menu-link,
.sub-menu-item:first-child .sub-menu-link:hover,
.sub-menu-item:first-child .sub-menu-link:active{
 background-color: rgb(248, 247, 244);
 font-weight: 700;
}

/*кнопки входа, поиска и корзина*/
.actions-search{
 flex-basis: 32px;
 margin-bottom: 15px;
}

.actions-login{
 flex-basis: 92px;
 margin-bottom: 15px;
}

.actions-cart{
 flex-basis: 117px;
 margin-bottom: 15px;
}

.actions-button{
 background-color: rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255); 
 font-size: 14px;
 font-weight: 500;
 line-height: 16px;
 padding-bottom: 7px;
 padding-top: 7px;
 position: relative;
}

.actions-button-search{
 padding-left: 16px;
 padding-right: 16px;
 border-radius: 50%;
}

.actions-button-search::before{
 background-image: url("../img/decoration/loupe.svg");
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 17px;
 left: 0;
 margin: 7px;
 position: absolute;
 right: 0;
 top: 0;
 width: 17px;
}

.actions-button-login{
 margin-left: 1px;
 padding-left: 43px;
 padding-right: 17px;
 border-bottom-left-radius: 15% 50%;
 border-bottom-right-radius: 15% 50%;
 border-top-left-radius: 15% 50%;
 border-top-right-radius: 15% 50%;
}

.actions-button-login::before{
 background-image: url("../img/decoration/entrance.svg");
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 19px;
 left: 0;
 margin: 6px 16px;
 margin-left: 15px;
 position: absolute;
 right: 0;
 top: 0;
 width: 21px;
}

.actions-button-empty-cart{
 padding-left: 45px;
 padding-right: 34px;
 border-bottom-left-radius: 15% 50%;
 border-bottom-right-radius: 15% 50%;
 border-top-left-radius: 15% 50%;
 border-top-right-radius: 15% 50%;
}

.actions-button-empty-cart::before{
 background-image: url("../img/decoration/basket.svg");
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 20px;
 left: 0;
 margin: 6px 17px;
 position: absolute;
 right: 0;
 top: 0;
 width: 21px;
}

.actions-button-cart{
 border-bottom-left-radius: 15% 50%;
 border-bottom-right-radius: 15% 50%;
 border-top-left-radius: 15% 50%;
 border-top-right-radius: 15% 50%;
 margin-left: -1px;
 padding-left: 44px;
 padding-right: 16px;
 position: relative;
}

.actions-button-cart::before{
 background-image: url("../img/decoration/basket-red.svg");
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 20px;
 left: 0;
 margin: 6px 16px;
 position: absolute;
 right: 0;
 top: 0;
 width: 21px;
}

.actions-button:hover,
.actions-button-cart{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50);
}

/*время работы*/
.contact-information-worktime,
.contact-information-number{
 font-size: 22px;
 font-weight: 700;
 line-height: 24px;
 margin: 0;
 padding: 0;
 text-align: right;
}

.contact-information-worktime{
 font-size: 14px;
 line-height: 16px;
 margin-bottom: 4px;
}

/*footer*/
.main-footer{
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.social-btn,
.footer-col .link,
.footer-col span{
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255);
 font-size: 12px;
 font-weight: 400;
 line-height: 18px;
}

.footer-col .link:hover, 
.footer-col .link:active{
 color: rgb(255, 188, 158);
 border-bottom-color: rgba(255, 188, 158, 0.3);
}

.footer-col:nth-child(2) .link:first-child{
 font-size: 13px;
 font-weight: 700;
}

.footer-col:last-child span{
 border: none;
}

/*main - общее*/
.main-title{
 font-size: 35px;
 font-weight: 700;
 line-height: 41px;
 margin: 0;
 padding: 0;
 padding-top: 3px;
 }

.button{
 background-color: rgb(202, 56, 36);
 border: none;
 border-bottom-left-radius: 10% 50%;
 border-bottom-right-radius: 10% 50%;
 border-top-left-radius: 10% 50%;
 border-top-right-radius: 10% 50%;
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-size: 18px;
 font-weight: 700;
 line-height: 24px;
 text-align: center;
 text-decoration: none;
}

.button:hover{
 background-color: rgb(255, 133, 102);
}

.button:active{
 background-color: rgb(250, 70, 47);
}

/*хлебные крошки*/
.breadcrumbs{
 padding-top: 18px;
}

.breadcrumbs .link{
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255);
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
}

.breadcrumbs span{
 color: rgb(255, 255, 255);
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
 margin-left: 4px;
 margin-right: 3px;
}

.breadcrumbs span:nth-of-type(2){
 margin-left: 3px;
}

.breadcrumbs-link:hover, .breadcrumbs-link:active{
 color: rgb(255, 188, 158);
 border-bottom-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs .breadcrumbs-link-current{
 border: none;
}

/*Слайдер*/
.slide{
 width: 100%;
}

.slide:nth-child(2),
.slide:nth-child(3){
 display: none;
}

.slide-title{
 font-size: 60px;
 font-weight: 700;
 line-height: 60.35px;
}

.slide-button{
 font-size: 32px;
 line-height: 44px;
}

/*Баннеры*/
.banners{
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.banner{
 background-repeat: no-repeat;
 border-bottom-left-radius: 3% 7%;
 border-bottom-right-radius: 3% 7%;
 border-top-left-radius: 3% 7%;
 border-top-right-radius: 3% 7%;
 color: rgb(255, 255, 255);
 flex-basis: 560px;
 flex-wrap: wrap;
 font-weight: 700;
 margin-bottom: 40px;
 min-height: 229px;
}

.banner:first-of-type{
 background-color: rgb(132, 0, 17);
 background-image: url("../img/background/bg-raspberry.jpg");
}

.banner:last-of-type{
 background-color: rgb(35, 10, 4);
 background-image: url("../img/background/bg-chocolate.jpg");
}

.banner-title{
 font-size: 35px;
 line-height: 41px;
 margin: 0;
 padding-left: 18px;
 padding-top: 15px;
}

.banner-item{
 font-size: 18px;
 line-height: 22px;
 margin: 0;
 margin-bottom: 55px;
 padding-left: 19px;
 padding-top: 16px;
}

.banner-button{
 margin-left: 374px;
 padding: 11px 22px;
}

.banner:last-of-type .banner-button{
 margin-left: 350px;
}

/*товары*/
.products{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.product{
 display: flex;
 flex-direction: column;
 flex-basis: 267px;
 position: relative;
}

.hit-image{
 position: absolute;
 top: 0;
}

.product-title{
 font-size: 16px;
 font-weight: 500;
 line-height: 22px;
 margin: 0;
 order: 1;
 padding: 0;
 padding-top: 20px;
 position: relative;
 text-align: center;
}

.product-image{
 border-radius: 50%;
}

.product-price{
 font-size: 45px;
 font-weight: 700;
 line-height: 45px;
 margin-left: -1px;
 margin-top: -58px;
}

.product-mass{
 font-size: 30px;
 font-weight: 700;
 line-height: 45px;
}

.product-link{
 box-sizing: border-box;
 display: none;
 margin-bottom: 22px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 18px;
 padding: 10px 16px;
 order: 2;
 width: 200px;
}

/*преимущества*/
.advantages{
 background-color: rgb(240, 213, 170);
 background-image: url("../img/background/bg-wafer.jpg");
 background-repeat: repeat;
 border-bottom-left-radius: 2% 8%;
 border-bottom-right-radius: 2% 8%;
 border-top-left-radius: 2% 8%;
 border-top-right-radius: 2% 8%;
 color: rgb(50, 50, 50);
 margin-bottom: 20px;
 width: 1146px;

 min-height: 306px;
 box-sizing: border-box;
}

.advantages-title{
 font-size: 24px;
 font-weight: 500;
 line-height: 30px;
 margin: 0;
 padding: 0;
 padding-left: 20px;
 padding-top: 25px;
 text-align: left;
}

.advantages-list{
 display: flex;
 flex-wrap: wrap;
}

.advantages-item{
 flex-basis: 490px;
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;
 padding-left: 77px;
 padding-top: 20px;
 position: relative;	
}

.advantages-item:first-of-type::before{
 background-image: url('../img/decoration/ice-cream.svg');
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 49px;
 left: 0;
 margin-left: 20px;
 margin-top: 7px;
 position: absolute;
 right: 0;
 top: 0;
 width: 49px;
}

.advantages-item:nth-of-type(2){
 order: 2;
}

.advantages-item:nth-of-type(2)::before{
 background-image: url('../img/decoration/eco.svg');
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 49px;
 left: 0;
 margin-left: 20px;
 margin-top: 9px;
 position: absolute;
 right: 0;
 top: 0;
 width: 49px;
}

.advantages-item:nth-of-type(3){
 order: 1;
}

.advantages-item:nth-of-type(3)::before{
 background-image: url('../img/decoration/cow.svg');
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 49px;
 left: 0;
 margin-left: 18px;
 margin-top: 7px;
 position: absolute;
 right: 0;
 top: 0;
 width: 49px;
}

.advantages-item:nth-of-type(4){
 order: 3;
}

.advantages-item:nth-of-type(4)::before{
 background-image: url('../img/decoration/thermometer.svg');
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 49px;
 left: 0;
 margin-left: 18px;
 margin-top: 9px;
 position: absolute;
 right: 0;
 top: 0;
 width: 49px;
}

/*блог и рассылка*/
.row{
 display: flex;
 justify-content: space-between;
}

.blog-teaser{
 background-color: rgb(255, 255, 255);
 background-image: url("../img/background/bg-strawberry.jpg");
 background-repeat: no-repeat;
 color: rgb(50, 50, 50);
 margin-bottom: 40px;
 width: 560px;
}

.blog-teaser-title{
 font-size: 16px;
 font-weight: 500;
 line-height: 22px;
}

.blog-teaser-link{
 border-bottom: 2px solid rgb(50, 50, 50);
 color: rgb(50, 50, 50);
 font-size: 24px;
 font-weight: 700;
 line-height: 30px;
 text-decoration: none;
}

.dispatch{
 background-color: rgb(255, 255, 255);
 background-image: url("../img/background/bg-post.svg");
 background-repeat: no-repeat;
 color: rgb(90, 90, 90);
 margin-bottom: 40px;
 padding: 5px 6px;
 width: 548px;
}

.dispatch-background{
 background-color: rgb(248, 247, 244);
 color: rgb(90, 90, 90);
}

.dispatch-item{
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;
 margin: 0;
}

/*карта и какая-то фигня*/
 .map{
 width: 1200px;
 border: none;
 line-height: 0;
 padding: 0;
 margin: 0;
}

.map img{
/* display: block;*/
 padding: 0;
 margin: 0;
}

.feedback{
 background-color: rgb(254, 254, 254);
 border-radius: 5%;
 bottom: 277px;
 right: 53px;
 box-sizing: border-box;
 color: rgb(50, 50, 50);
 min-height: 305px;
 position: absolute;
 width: 302px;
}

.feedback-contacts-term{
 font-size: 14px;
 font-weight: 400;
 line-height: 20px;
 }

.feedback-contacts-value{
 font-size: 18px;
 font-weight: 700;
 line-height: 24px;	
}

.feedback-form-text{
 font-size: 24px;
 font-weight: 500;
 line-height: 28px;
}

/*фильтр*/
.filters{
 font-size: 0;
}

.filter{
 background-color: rgba(255, 255, 255, 0.2);
 border: none;
 display: inline-block;
 margin: 0;
 margin-right: 16px;
 padding: 0;
 vertical-align: top;
}

.filter-form .filter:first-of-type{
 /*flex-basis: 193px;*/
 width: 193px;
}

.filter-form .filter:nth-of-type(2){
 /*flex-basis: 218px;*/
 width: 218px;
}

.filter-form .filter:nth-of-type(3){
 /*flex-basis: 415px;*/
 width: 415px;
}

.filter-form .filter:nth-of-type(4){
 /*flex-basis: 702px;*/
 width: 702px;
}

.filter-legend{
 font-size: 14px;
 font-weight: 500;
 line-height: 16px;
}

.filter-list{
 display: flex;
}

.option-label-radio, .option-label{
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.filter-button{
 border: 2px solid rgb(255, 255, 255);
 border-bottom-left-radius: 10% 50%;
 border-bottom-right-radius: 10% 50%;
 border-top-left-radius: 10% 50%;
 border-top-right-radius: 10% 50%;
 background-color: rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255);
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.filter-button:hover{
 background-color: rgb(255, 255, 255);
 color: rgb(50, 50, 50);
}

.filter-button:active{
 background-color: rgb(237, 237, 237);
 color: rgb(50, 50, 50);
}

/*пагинатор*/
.paginator{
 text-align: right;
}

.paginator-link{
 color: rgb(255, 255, 255);
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.paginator-link:hover{
 background-color: rgba(255, 255, 255, 0.2);
}

.paginator-link:active{
 background-color: rgb(255, 255, 255);
 color: rgb(50, 50, 50);
}

.paginator-link-disabled, 
.paginator-link-disabled:hover, 
.paginator-link-disabled:active{
 background-color: rgba(255, 255, 255, 0);
 color: rgba(255, 255, 255, 0.2);
}

.paginator-link-current, 
.paginator-link-current:hover{
 background-color: rgb(255, 255, 255);
 color: rgb(50, 50, 50);
}

/*модальные окна*/
.wrap-field{
 background-color: rgb(248, 247, 244);
}

.field-input,
.field-textarea{
 border: 1px solid rgb(178, 178, 178);
 border-radius: 5px;
}

.field-label{
 color: rgb(153, 153, 153);
 font-family: 'Roboto', Arial, sans-serif;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
}

.actions-search-form .field-label,
.actions-login-form .field-label{
 font-size: 14px;
}

.field-input:hover,
.field-textarea:hover{
 border: 2px solid rgb(154, 154, 154)
}

.field-input:focus,
.field-textarea:focus{
 border: 2px solid rgb(46, 136, 228)
}

.field-input:focus + .field-label,
.field-textarea:focus + .field-label{
 color: rgb(91, 157, 223);
 font-size: 11px;
 font-weight: 400;
 line-height: 13px;
 outline: none;
}

.field-input:valid, 
.field-textarea:valid{
 border: 1px solid rgb(178, 178, 178);
 outline: none;
}

.field-input:valid + .field-label,
.field-textarea:valid + .field-label{
 color: rgb(153, 153, 153);
 font-size: 11px;
 font-weight: 400;
 line-height: 13px;
}

/*корзина*/
.cart-table{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50); 
 font-size: 13px;
 font-weight: 400;
 line-height: 16px;
}

.cart-table-price{
 color: rgb(153, 153, 153);
}

.cart-table-row-total{
 font-size: 15px;
 font-weight: 700;
 line-height: 18px;
}

.actions-login .link{
 border-bottom: 1px solid rgba(50, 50, 50, 0.3);
 color: rgb(50, 50, 50);
 font-size: 13px;
 font-weight: 400;
 line-height: 24px;
}

.actions-login .link:hover, .actions-login .link:active{
 border-bottom-color: rgba(232, 77, 55, 0.3);
 color: rgb(232, 77, 55);
}