/*глобальные стили*/
body{
 background-color: rgba(132, 157, 143, 1);
 color: rgba(255, 255, 255, 1);
 font-family: 'Roboto', Arial, sans-serif;
 margin: 0;
 padding: 0;
}

a{
 text-decoration: none;
}

.visually-hidden{
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}

.button{
 background-color: rgba(202, 56, 36, 1);
 border: none;
 border-bottom-left-radius: 10% 50%;
 border-bottom-right-radius: 10% 50%;
 border-top-left-radius: 10% 50%;
 border-top-right-radius: 10% 50%;
 color: rgba(255, 255, 255, 1);
 cursor: pointer;
 font-size: 18px;
 font-weight: 700;
 line-height: 24px;
 text-decoration: none;
}

.button:focus{
 outline: 2px solid rgba(244, 172, 162, 0.8);
}

.button:hover{
 background-color: rgba(255, 133, 102, 1);
}

.button:active{
 background-color: rgba(250, 70, 47, 1);
 outline: none;
}

.main-menu,
.sub-menu,
.advantages-list, 
.filter-list{
 list-style-type: none;
 margin: 0;
 padding: 0;
}


/*header*/
.main-menu-link{
 color: rgba(255, 255, 255, 1);
 font-size: 16px;
 font-weight: 700;
 line-height: 18px;
}

.main-menu-link:hover{
 background-color: rgba(247, 246, 243, 1);
 color: rgba(50, 50, 50, 1);
}

.main-menu-link:active{
 background-color: rgba(248, 247, 244, 1);
 color: rgba(50, 50, 50, 1);
 outline: none;
}

.main-menu-link-current{
 background-color: rgba(255, 77, 50, 1);
 color: rgba(255, 255, 255, 1);
}

.sub-menu-item{
 background-color: rgba(248, 247, 244, 1);
 color: rgba(50, 50, 50, 1);
}

.sub-menu-link{
 color: rgba(50,  50, 50, 1);
 display: block;
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
}

.sub-menu-link:hover{
 background-color: rgba(251, 222, 215, 1);
}

.sub-menu-link:active{
 background-color: rgba(246, 181, 165, 1);
 outline: none;
}

.sub-menu-link-current{
 background-color: rgba(208, 112, 88, 1);
 color: rgba(255, 255, 255, 1);
 display: block;
}

.sub-menu-item:first-child .sub-menu-link,
.sub-menu-item:first-child .sub-menu-link:hover,
.sub-menu-item:first-child .sub-menu-link:active{
 background-color: rgba(248, 247, 244, 1);
 font-weight: 700;
}

.actions-button{
 background-color: rgba(255, 255, 255, 0.2);
 color: rgba(255, 255, 255, 1); 
 font-size: 14px;
 font-weight: 500;
 line-height: 16px;
}

.actions-button:hover, .actions-button-cart{
 background-color: rgba(248, 247, 244, 1);
 color: rgba(50, 50, 50, 1);
}

.cart-table{
 background-color: rgba(248, 247, 244, 1);
 color: rgba(50, 50, 50, 1); 
 font-size: 13px;
 font-weight: 400;
 line-height: 16px;
}

.cart-table-price{
 color: rgba(153, 153, 153, 1);
}

.cart-table-row-total{
 font-size: 15px;
 font-weight: 700;
 line-height: 18px;
}

.actions-login .link{
 border-bottom: 1px solid rgba(50, 50, 50, 0.3);
 color: rgba(50, 50, 50, 1);
 font-size: 13px;
 font-weight: 400;
 line-height: 24px;
}

.actions-login .link:hover, .actions-login .link:active{
 border-bottom-color: rgba(232, 77, 55, 0.3);
 color: rgba(232, 77, 55, 1);
}

.contact-information-worktime{
 font-size: 14px;
 font-weight: 700;
 line-height: 16px;
}

.contact-information-number{
 font-size: 21px;
 font-weight: 700;
 line-height: 24px;
}

.breadcrumbs .link{
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 color: rgba(255, 255, 255, 1);
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
}

.breadcrumbs-link:hover, .breadcrumbs-link:active{
 color: rgba(255, 188, 158, 1);
 border-bottom-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs .breadcrumbs-link-current{
 border: none;
}


/*footer*/
.social-btn, .footer-col .link, .footer-col span{
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 color: rgba(255, 255, 255, 1);
 font-size: 12px;
 font-weight: 400;
 line-height: 18px;
}

.footer-col .link:hover, .footer-col .link:active{
 color: rgba(255, 188, 158, 1);
 border-bottom-color: rgba(255, 188, 158, 0.3);
}


.footer-col:nth-child(2) .link:first-child{
 font-size: 13px;
 font-weight: 700;
}

.footer-col:last-child span{
 border: none;
}


/*main*/
/*index*/
/*слайдер*/
.slide-title{
 font-size: 60px;
 font-weight: 700;
 line-height: 60.35px;
}

.slide-button{
 font-size: 32px;
 line-height: 44px;
}

/*баннеры*/
.banner{
 background-repeat: no-repeat;
 color: rgba(255, 255, 255, 1);
 font-weight: 700;
}

.banner:first-of-type{
 background-color: rgba(132, 0, 17, 1);
 background-image: url("../img/background/bg-raspberry.jpg");
}

.banner:last-of-type{
 background-color: rgba(35, 10, 4, 1);
 background-image: url("../img/background/bg-chocolate.jpg");
}

.banner-title{
 font-size: 35px;
 line-height: 41px;
}

.banner-item{
 font-size: 18px;
 line-height: 22px;
}

/*товары - общие стили*/
.product-title{
 font-size: 16px;
 font-weight: 500;
 line-height: 22px;
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product-price{
 font-size: 45px;
 font-weight: 700;
 line-height: 45px;
}

.product-mass{
 font-size: 30px;
 font-weight: 700;
 line-height: 45px;
}

/*преимущества*/
.advantages{
 background-color: rgba(240, 213, 170, 1);
 background-image: url("../img/background/bg-wafer.jpg");
 background-repeat: repeat;
 color: rgba(50, 50, 50, 1);
}

.advantages-title{
 font-size: 24px;
 font-weight: 500;
 line-height: 30px;
}

.advantages-item{
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;	
}

/*блог*/
.blog-teaser{
 background-color: rgba(255, 255, 255, 1);
 background-image: url("../img/background/bg-strawberry.jpg");
 background-repeat: no-repeat;
 color: rgba(50, 50, 50, 1);
}

.blog-teaser-title{
 font-size: 16px;
 font-weight: 500;
 line-height: 22px;
}

.blog-teaser-link{
 color: rgba(50, 50, 50, 1);
 font-size: 24px;
 font-weight: 700;
 line-height: 30px;
 text-decoration: none;	
}

/*рассылка*/
.dispatch{
 background-color: rgba(255, 255, 255, 1);
 background-image: url("../img/background/bg-post.svg");
 background-repeat: no-repeat;
 color: rgba(90, 90, 90, 1);
}

.dispatch-background{
 background-color: rgba(248, 247, 244, 1);
 color: rgba(90, 90, 90, 1);
}

.dispatch-item{
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;
}

/*обратная связь*/
.feedback{
 background-color: rgba(254, 254, 254, 1);
 color: rgba(50, 50, 50, 1);
}

.feedback-contacts-term{
 font-size: 14px;
 font-weight: 400;
 line-height: 20px;
 }

.feedback-contacts-value{
 font-size: 18px;
 font-weight: 700;
 line-height: 24px;	
}

.feedback-form-text{
 font-size: 24px;
 font-weight: 500;
 line-height: 28px;
}

/*попап*/
.wrap-field{
 background-color: rgba(248, 247, 244, 1);
}

input[class^="field-input"],
.field-textarea-text{
 border: 1px solid rgba(178, 178, 178, 1);
}

label[class^="field-label"]{
 color: rgba(153, 153, 153, 1);
 font-family: 'Roboto', Arial, sans-serif;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
}

label[class$="-search"],
label[class$="-login"],
label[class$="-password"]{
 font-size: 14px;
}

input[class^="field-input"]:hover,
.field-textarea-text:hover{
 border: 2px solid rgba(154, 154, 154, 1)
}

input[class^="field-input"]:focus,
.field-textarea-text:focus{
 border: 2px solid rgba(46, 136, 228, 1)
}

input[class^="field-input"]:focus + label[class^="field-label"],
.field-textarea-text:focus + label[class^="field-label"]{
color: rgba(91, 157, 223, 1);
font-size: 11px;
font-weight: 400;
line-height: 13px;
outline: none;
}

input[class^="field-input"]:valid, 
.field-textarea-text:valid{
 border: 1px solid rgba(178, 178, 178, 1);
 outline: none;
}

input[class^="field-input"]:valid + label[class^="field-label"],
.field-textarea-text:valid + label[class^="field-label"]{
color: rgba(153, 153, 153, 1);
font-size: 11px;
font-weight: 400;
line-height: 13px;
}


/*main*/
/*catalog*/
.main-title{
 font-size: 35px;
 font-weight: 700;
 line-height: 41px;
}

/*фильтр*/
.filter{
 background-color: rgba(255, 255, 255, 0.2);
 border: none;
}

.filter-legend{
 font-size: 14px;
 font-weight: 500;
 line-height: 16px;
}

.option-label-radio, .option-label{
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.filter-button{
 border: 2px solid rgba(255, 255, 255, 1);
 border-bottom-left-radius: 10% 50%;
 border-bottom-right-radius: 10% 50%;
 border-top-left-radius: 10% 50%;
 border-top-right-radius: 10% 50%;
 background-color: rgba(255, 255, 255, 0.2);
 color: rgba(255, 255, 255, 1);
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.filter-button:hover{
 background-color: rgba(255, 255, 255, 1);
 color: rgba(50, 50, 50, 1);
}

.filter-button:active{
 background-color: rgba(237, 237, 237, 1);
 color: rgba(50, 50, 50, 1);
}

/*пагинатор*/
.paginator-link{
 color: rgba(255, 255, 255, 1);
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.paginator-link:hover{
 background-color: rgba(255, 255, 255, 0.2);
}

.paginator-link:active{
 background-color: rgba(255, 255, 255, 1);
 color: rgba(50, 50, 50, 1);
}

.paginator-link-disabled, 
.paginator-link-disabled:hover, 
.paginator-link-disabled:active{
 background-color: rgba(255, 255, 255, 0);
 color: rgba(255, 255, 255, 0.2);
}

.paginator-link-current, 
.paginator-link-current:hover{
 background-color: rgba(255, 255, 255, 1);
 color: rgba(50, 50, 50, 1);
}