/*глобальные стили*/
body{
 background-color: rgba(132, 157, 143, 1);
 color: rgb(255, 255, 255);
 font-family: 'Roboto', Arial, sans-serif;
 margin: 0;
 padding: 0;
}

a{
 text-decoration: none;
}

.visually-hidden{
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}

.button{
 background-color: rgb(202, 56, 36);
 border: none;
 border-bottom-left-radius: 10% 50%;
 border-bottom-right-radius: 10% 50%;
 border-top-left-radius: 10% 50%;
 border-top-right-radius: 10% 50%;
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-size: 18px;
 font-weight: 700;
 line-height: 24px;
 text-decoration: none;
}

.button:focus{
 outline: 2px solid rgba(244, 172, 162, 0.8);
}

.button:hover{
 background-color: rgb(255, 133, 102);
}

.button:active{
 background-color: rgb(250, 70, 47);
 outline: none;
}

.main-menu,
.sub-menu,
.advantages-list, 
.filter-list{
 list-style-type: none;
 margin: 0;
 padding: 0;
}


/*попап*/
.wrap-field{
 background-color: rgb(248, 247, 244);
}

.field-input,
.field-textarea{
 border: 1px solid rgb(178, 178, 178);
 border-radius: 5px;
}

.field-label{
 color: rgb(153, 153, 153);
 font-family: 'Roboto', Arial, sans-serif;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
}

.actions-search-form .field-label,
.actions-login-form .field-label{
 font-size: 14px;
}

.field-input:hover,
.field-textarea:hover{
 border: 2px solid rgb(154, 154, 154)
}

.field-input:focus,
.field-textarea:focus{
 border: 2px solid rgb(46, 136, 228)
}

.field-input:focus + .field-label,
.field-textarea:focus + .field-label{
color: rgb(91, 157, 223);
font-size: 11px;
font-weight: 400;
line-height: 13px;
outline: none;
}

.field-input:valid, 
.field-textarea:valid{
 border: 1px solid rgb(178, 178, 178);
 outline: none;
}

.field-input:valid + .field-label,
.field-textarea:valid + .field-label{
color: rgb(153, 153, 153);
font-size: 11px;
font-weight: 400;
line-height: 13px;
}

/*header*/
.main-menu-link{
 color: rgb(255, 255, 255);
 font-size: 16px;
 font-weight: 700;
 line-height: 18px;
}

.main-menu-link:hover{
 background-color: rgb(247, 246, 243);
 color: rgb(50, 50, 50);
}

.main-menu-link:active{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50);
 outline: none;
}

.main-menu-link-current{
 background-color: rgb(255, 77, 50);
 color: rgb(255, 255, 255);
}

.sub-menu-item{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50);
}

.sub-menu-link{
 color: rgb(50, 50, 50);
 display: block;
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
}

.sub-menu-link:hover{
 background-color: rgb(251, 222, 215);
}

.sub-menu-link:active{
 background-color: rgb(246, 181, 165);
 outline: none;
}

.sub-menu-link-current{
 background-color: rgb(208, 112, 88);
 color: rgb(255, 255, 255);
 display: block;
}

.sub-menu-item:first-child .sub-menu-link,
.sub-menu-item:first-child .sub-menu-link:hover,
.sub-menu-item:first-child .sub-menu-link:active{
 background-color: rgb(248, 247, 244);
 font-weight: 700;
}

.actions-button{
 background-color: rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255); 
 font-size: 14px;
 font-weight: 500;
 line-height: 16px;
}

.actions-button:hover, .actions-button-cart{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50);
}

.cart-table{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50); 
 font-size: 13px;
 font-weight: 400;
 line-height: 16px;
}

.cart-table-price{
 color: rgb(153, 153, 153);
}

.cart-table-row-total{
 font-size: 15px;
 font-weight: 700;
 line-height: 18px;
}

.actions-login .link{
 border-bottom: 1px solid rgba(50, 50, 50, 0.3);
 color: rgb(50, 50, 50);
 font-size: 13px;
 font-weight: 400;
 line-height: 24px;
}

.actions-login .link:hover, .actions-login .link:active{
 border-bottom-color: rgba(232, 77, 55, 0.3);
 color: rgb(232, 77, 55);
}

.contact-information-worktime{
 font-size: 14px;
 font-weight: 700;
 line-height: 16px;
}

.contact-information-number{
 font-size: 21px;
 font-weight: 700;
 line-height: 24px;
}

.breadcrumbs .link{
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255);
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
}

.breadcrumbs-link:hover, .breadcrumbs-link:active{
 color: rgb(255, 188, 158);
 border-bottom-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs .breadcrumbs-link-current{
 border: none;
}

/*footer*/
.social-btn, .footer-col .link, .footer-col span{
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255);
 font-size: 12px;
 font-weight: 400;
 line-height: 18px;
}

.footer-col .link:hover, .footer-col .link:active{
 color: rgb(255, 188, 158);
 border-bottom-color: rgba(255, 188, 158, 0.3);
}


.footer-col:nth-child(2) .link:first-child{
 font-size: 13px;
 font-weight: 700;
}

.footer-col:last-child span{
 border: none;
}

/*main*/
/*index*/
/*слайдер*/
.slide-title{
 font-size: 60px;
 font-weight: 700;
 line-height: 60.35px;
}

.slide-button{
 font-size: 32px;
 line-height: 44px;
}

/*баннеры*/
.banner{
 background-repeat: no-repeat;
 color: rgb(255, 255, 255);
 font-weight: 700;
}

.banner:first-of-type{
 background-color: rgb(132, 0, 17);
 background-image: url("../img/background/bg-raspberry.jpg");
}

.banner:last-of-type{
 background-color: rgb(35, 10, 4);
 background-image: url("../img/background/bg-chocolate.jpg");
}

.banner-title{
 font-size: 35px;
 line-height: 41px;
}

.banner-item{
 font-size: 18px;
 line-height: 22px;
}

/*товары - общие стили*/
.product-title{
 font-size: 16px;
 font-weight: 500;
 line-height: 22px;
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product-price{
 font-size: 45px;
 font-weight: 700;
 line-height: 45px;
}

.product-mass{
 font-size: 30px;
 font-weight: 700;
 line-height: 45px;
}

/*преимущества*/
.advantages{
 background-color: rgb(240, 213, 170);
 background-image: url("../img/background/bg-wafer.jpg");
 background-repeat: repeat;
 color: rgb(50, 50, 50);
}

.advantages-title{
 font-size: 24px;
 font-weight: 500;
 line-height: 30px;
}

.advantages-item{
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;	
}

/*блог*/
.blog-teaser{
 background-color: rgb(255, 255, 255);
 background-image: url("../img/background/bg-strawberry.jpg");
 background-repeat: no-repeat;
 color: rgb(50, 50, 50);
}

.blog-teaser-title{
 font-size: 16px;
 font-weight: 500;
 line-height: 22px;
}

.blog-teaser-link{
 border-bottom: 2px solid rgb(50, 50, 50);
 color: rgb(50, 50, 50);
 font-size: 24px;
 font-weight: 700;
 line-height: 30px;
 text-decoration: none;
}

/*рассылка*/
.dispatch{
 background-color: rgb(255, 255, 255);
 background-image: url("../img/background/bg-post.svg");
 background-repeat: no-repeat;
 color: rgb(90, 90, 90);
}

.dispatch-background{
 background-color: rgb(248, 247, 244);
 color: rgb(90, 90, 90);
}

.dispatch-item{
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;
}

/*обратная связь*/
.feedback{
 background-color: rgb(254, 254, 254);
 color: rgb(50, 50, 50);
}

.feedback-contacts-term{
 font-size: 14px;
 font-weight: 400;
 line-height: 20px;
 }

.feedback-contacts-value{
 font-size: 18px;
 font-weight: 700;
 line-height: 24px;	
}

.feedback-form-text{
 font-size: 24px;
 font-weight: 500;
 line-height: 28px;
}

/*main*/
/*catalog*/
.main-title{
 font-size: 35px;
 font-weight: 700;
 line-height: 41px;
}

/*фильтр*/
.filter{
 background-color: rgba(255, 255, 255, 0.2);
 border: none;
}

.filter-legend{
 font-size: 14px;
 font-weight: 500;
 line-height: 16px;
}

.option-label-radio, .option-label{
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.filter-button{
 border: 2px solid rgb(255, 255, 255);
 border-bottom-left-radius: 10% 50%;
 border-bottom-right-radius: 10% 50%;
 border-top-left-radius: 10% 50%;
 border-top-right-radius: 10% 50%;
 background-color: rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255, );
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.filter-button:hover{
 background-color: rgb(255, 255, 255);
 color: rgb(50, 50, 50);
}

.filter-button:active{
 background-color: rgb(237, 237, 237);
 color: rgb(50, 50, 50);
}

/*пагинатор*/
.paginator-link{
 color: rgba(255, 255, 255);
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.paginator-link:hover{
 background-color: rgba(255, 255, 255, 0.2);
}

.paginator-link:active{
 background-color: rgb(255, 255, 255);
 color: rgb(50, 50, 50);
}

.paginator-link-disabled, 
.paginator-link-disabled:hover, 
.paginator-link-disabled:active{
 background-color: rgba(255, 255, 255, 0);
 color: rgba(255, 255, 255, 0.2);
}

.paginator-link-current, 
.paginator-link-current:hover{
 background-color: rgb(255, 255, 255);
 color: rgb(50, 50, 50);
}